redis==3.3.11
Flask
Flask-Cors
Flask-RESTful
flask-restful-swagger
PyJWT
Flask-SQLAlchemy
Flask-Migrate
passlib==1.7.1
cryptography==2.5
cffi
docopt
gunicorn
Flask-Script
python-dateutil
psycopg2-binary
pandas
xlrd
numpy
celery
eventlet
requests
sentry-sdk[flask]==0.7.10
