<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aio.poll" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AIO poll</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>

    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="AndroidManifest.xml" mode="add" target="/manifest" xmlns:android="http://schemas.android.com/apk/res/android">
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" />
        <icon src="www/static/img/icons/apple-touch-icon-120x120.png" width="120" height="120" />
        <icon src="www/static/img/icons/apple-touch-icon-120x120.png" width="20" height="20" />
        <icon src="www/static/img/icons/apple-touch-icon-120x120.png" width="40" height="40" />
        <icon src="www/static/img/icons/apple-touch-icon-60x60.png" width="60" height="60" />
        <icon src="www/static/img/icons/apple-touch-icon-152x152.png" width="152" height="152" />
        <icon src="www/static/img/icons/apple-touch-icon-1024x1024.png" width="1024" height="1024" />
        <icon src="www/static/img/icons/apple-touch-icon-76x76.png" width="76" height="76" />
        <icon src="www/static/img/icons/apple-touch-icon-180x180.png" width="180" height="180" />




    </platform>
    <engine name="browser" spec="^5.0.3" />
</widget>
